#search {
	position: absolute;
	top: 50px;
	right: 11%;
	width: 25%;
}

.modal-cover{
	box-sizing:border-box;
	color: rgba(255,255,255,0.4);
	height: 100%;
	width: 100%;
	position:absolute;
	top:0px;
}

#desktop {
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	width: 15%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	position:absolute;
	background-image: url('/images/back3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #888;
}
body.desktop #desktop{
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	width:85%;
	left:0;
}
body.desktop #desktop .modal-cover, body.apps #apps .modal-cover{
	display:none;
}

body.desktop #apps .modal-cover, body.apps #desktop .modal-cover {
	z-index:150;
}
body.search #apps .modal-cover, body.temp #apps .modal-cover {
	z-index: 40;
}
body.desktop #apps{
	width:15%;
}
#apps{
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	width: 85%;
	height: 100%;
	position:absolute;
	right:0px;
	float:left;
	overflow:hidden;
	background-image: url('/images/back1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #888;
}



#apps div.scroll-apps {

	height: 450px;
	width: 100%;
	max-width: 1200px;
	min-width: 600px;
	overflow: hidden;
	margin-left:80px;
	padding-bottom:40px;
	position: absolute;
	top: 120px;
	z-index:80;
}

.search #apps div.scroll-apps, .temp #apps div.scroll-apps {
	min-width: 145px;
	max-width: 400px;
}


.desktop #desktop h1, #apps h1 {
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
  	position: relative;
  	left: 50px;
  	padding-left: 40px;

}

.desktop #apps h1, #desktop h1 {
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	font-size: 18pt;
	position: absolute;
	top: 20px;
	right:15px;
}

.desktop #desktop h1 {
	font-size:33pt;
}

ul.apps {
	list-style-type: none;
}

.app-tile {
	height:100px;
	width: 100px;
	background-color: blue;
	position: relative;
	margin: 4px;
	float: left;
}

.app-tile.double {
	width: 208px;
}

.app-tile div.hold-icon {
	width: 50px;
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	color: #D3D3D3;
}
.app-tile .name{
	position: absolute;
	bottom: 0;
	left: 7px;
	color: #fff;
	font-size: 8pt;
}

.search-show {
	display: none;
}
.search div.search-show, .temp div.search-show {
	clear:both;
	display: block;
	margin-left: 10px;
}

.search div#file-results, .temp div#file-results {
	position: fixed;
	right: 11%;
	top: 100px;
	background-color: rgba(255,255,255,0.8);
	width:25%;
	padding: 5px;
	z-index:50;

}

div#file-results li, div.store-apps {
	white-space: nowrap;
	overflow: hidden;
}

ul{
	list-style-type: none;

	margin:0;
}

.store-apps [class^="icon-"] {
	vertical-align: middle;
	color: orange;
	margin-right: 5px;
}
#settings {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 45px;
	min-width: 220px;
	overflow: hidden;
	color:#888;
}

#settings.show {
	background-color: rgba(0,0,0,0.7);
	z-index:100;
}

#main-settings{
	position: absolute;
	bottom: 0px;
	width:100%;
	height:45px;
	z-index:200;
}
#settings.show{
	height: 100%;
}
#main-settings>div, div#settings-list>div  {
	float: right;
	font-size: 12pt;
	padding-top: 5px;
	max-width: 60px;
	min-width: 45px;
	min-height: 45px;
	line-height: 12pt;
	text-align: center;
}

#settings img {
	height:45px;
	width: 45px;
	float: right;
}

div#settings>div.option:hover, div#settings-list>div.option:hover {
	background-color: rgba(255,255,255,0.4);
}

div#wifi span {
	background-color: rgba(255,255,255,0.4);
	display: inline-block;
	width: 7px;
	margin-left: 1px;
	vertical-align: bottom;

}

div#battery {
	margin-left: 10px;
	margin-right: 10px;

}

div#battery div.top {
	float: left;
	background-color: #888;
	height: 3px;
	width: 10px;
	margin-left: 18px;
}

div#battery div.base {
	background-color: #888;
	height: 26px;
	width: 15px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

div.show div#battery>div, .desktop div#battery>div {
	background-color: rgba(255,255,255,0.7);
}
div#settings-list {
	display:none;
	position: absolute;
	bottom: 45px;
	right:0px;
	min-width:100%;
	padding-bottom: 30px;
	padding-top: 30px;
}

 div#settings.show div#settings-list{
	display: block;
}

div#settings-list>div {
	padding: 10px;
}


/* opening apps */
.openpage{
	 transform-style: preserve-3d;
  	transition: all 0.3s linear;
  	-webkit-transform:scaleX(0.8) scaleY(0.8) rotateY(180deg);
}

.flippage{
	transform-style: preserve-3d;
  transition: all 0.3s linear;
  -webkit-transform: rotateY(180deg);
}


div#appView {
	position: absolute;
	top:0px;
	left:0px;
	height:80px;
	min-width:80px;
	background-color: #fff;
	z-index:100;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in;
	display:none;
	overflow: hidden;
}

div#appView.open{
	display:block;
	}


#appView.double {
	width: 167px;
}

div#appView.growapp {
	display:block;
	z-index:230;
	width:100%;
	height: 100%;
	opacity:1;
	
}

.green {
	background-color: green;
}

.grey {
	background-color: #333;
}

.red {
	background-color: red;
}

.light-blue {
	background-color: #26B6FF;
}

.blue {
	background-color: #4c66a4;
}

.orange {
	background-color: orange;
}

div.word-header {
	display: fixed;
	top:0px;
	width: 100%;
	height: 30px;
	padding: 5px;
	background-color: #333;
	color: #888;
	text-align: center;
}
.word-header img {
	display: inline-block;
	width:30px;
	height:30px;
	margin-right: 8px;
}
.close {
	display: inline-block;
	position: relative;
	right: 5px;
	color: white;
}

.word {
	color: #4c66a4;
}

.word-menus {
	width: 20%;
	height: 100%;
	box-sizing: border-box;
	background-color: #888;
	position: fixed;
	left:0px;
	padding-top: 15px;
}

.document{
	position: fixed;
	width: 80%;
	height: 100%;
	right:0px;
	overflow-y: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	padding-bottom: 200px;
}

.document h1, .document h2, .document p {
	min-width: 200px;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}
#appView h1, #appView h2, #appView h3, #appView h4{
	color: red;
}

#styles h1, #styles h2, #styles h3, #styles h4, #styles span:nth-child(2){
display: block;
background-color: #DEDEDE;
margin:0,0,0,5px;
padding: 5px;
width: 100%;
	}

#appView h1 {
	font-size: 28pt;
}

#appView h2 {
	font-size: 18pt;
}

#appView h3 {
	font-size: 14pt;
}

#appView h4 {
	font-size: 10pt;
}


#desktop #taskbar {
	position: absolute;
	bottom: 0px;
	left:0px;
	height: 45px;
	opacity: 0;
	-webkit-transform: all 0.5s linear;
}



#taskbar>div.app {
	float:left;
	width: 45px;
	height: 45px;
}


#taskbar>div{

	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 5px;
}

#taskbar>div.word {
	background-image: url('/images/word-icon.png');
}
#taskbar>div.excel {
	background-image: url('/images/excel.png');
}
#taskbar>div.outlook {
	background-image: url('/images/outlook.png');
}





div.word-doc img {
	width: 60px;
	height: 60px;
}
div.word-doc {
	-webkit-transition: all 0.5s linear;
	position: absolute;
	top: 200px;
	left: 80px;
	height: 60px;
	max-width: 70px;
	min-width:70px;
	font-size: 8pt;
	line-height: 10pt;
	opacity: 0;

}
div.word-doc>div {
	margin-top: 5px;
	color: #fff;
}



.desktop #desktop div.word-doc,
.desktop #desktop #taskbar {
	opacity:1;
	width: 100%;
}

div#file-system {
	float:left;
	margin-left: 10px;
}
ul.word-menus li [class^="icon-"], div#file-system [class^="icon-"] {
	width: 34px;
	padding-left: 10px;
	display: inline-block;
	color: #D2D2D2;
}

ul.word-menus li {
	margin-top: 5px;
}

.light {
	color: #D2D2D2;
}

.more {
	float: right;
}