#search {
	position: absolute;
	top: 10%;
	right: 16%;
	width: 25%;
}

.modal-cover{
	box-sizing:border-box;
	color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position:absolute;
	top:0px;
}

#desktop {
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	width: 15%;
	height: 100%;
	box-sizing: border-box;
	float: left;
	position:absolute;
	background-color: red;
}
body.desktop #desktop{
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	width:85%;
	left:0;
}
body.desktop #desktop .modal-cover, body.apps #apps .modal-cover{
	display:none;
}
body.desktop #apps{
	width:15%;
}
#apps{
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	width: 85%;
	height: 100%;
	position:absolute;
	right:0px;
	float:left;
	background-color: grey;
	overflow:hidden;
}



#apps div.scroll-apps {

	height: 450px;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-left:80px;
	padding-bottom:40px;
	position: absolute;
	top: 120px;
}

.search #apps div.scroll-apps, .temp #apps div.scroll-apps {

	width: 400px;
}


.desktop #desktop h1, #apps h1 {
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
  	position: relative;
  	left: 50px;
  	padding-left: 40px;

}

.desktop #apps h1, #desktop h1 {
	transition-property: all;
  	transition-duration: 250ms;
  	transition-timing-function: ease-in-out;
	font-size: 18pt;
	position: absolute;
	top: 20px;
	right:15px;
}

.desktop #desktop h1 {
	font-size:33pt;
}

ul.apps {
	list-style-type: none;
}

.app-tile {
	height:100px;
	width: 100px;
	background-color: blue;
	position: relative;
	margin: 4px;
	float: left;
}

.app-tile.double {
	width: 208px;
}
.app-tile .name{
	position: absolute;
	bottom: 0;
	left: 7px;
	color: #fff;
	font-size: 8pt;
}

.search-show {
	display: none;
}
.search div.search-show, .temp div.search-show {
	clear:both;
	display: block;
	margin-left: 30px;
}

.search div#file-results, .temp div#file-results {
	position: absolute;
	right: 200px;
	background-color: rgba(255,255,255,0.5);
	width:210px;
	padding: 5px;

}

div#file-results ul{
	list-style-type: none
}

#settings {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 45px;
	min-width: 220px;
	overflow: hidden;
}

.desktop #settings, #settings.show {
	background-color: rgba(0,0,0,0.7);
	color: rgba(255,255,255,0.7);
}

#main-settings{
	position: absolute;
	bottom: 0px;
	width:100%;
	height:45px;
}
#settings.show{
	height: 100%;
}
#main-settings>div, div#settings-list>div  {
	float: right;
	font-size: 12pt;
	padding-top: 5px;
	max-width: 60px;
	min-width: 45px;
	min-height: 45px;
	line-height: 12pt;
	text-align: center;
}

#settings img {
	height:45px;
	width: 45px;
	float: right;
}

div#settings>div.option:hover, div#settings-list>div.option:hover {
	background-color: rgba(255,255,255,0.4);
}

div#wifi span {
	background-color: rgba(255,255,255,0.4);
	display: inline-block;
	width: 7px;
	margin-left: 1px;
	vertical-align: bottom;

}

div#battery {
	margin-left: 10px;
	margin-right: 10px;

}

div#battery div.top {
	float: left;
	background-color: rgba(0,0,0,0.7);
	height: 3px;
	width: 10px;
	margin-left: 18px;
}

div#battery div.base {
	background-color: rgba(0,0,0,0.7);
	height: 26px;
	width: 15px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

div.show div#battery>div, .desktop div#battery>div {
	background-color: rgba(255,255,255,0.7);
}
div#settings-list {
	display:none;
	position: absolute;
	bottom: 45px;
	right:0px;
	min-width:100%;
	background-color:rgba(0,0,0,0.7);
	padding-bottom: 30px;
	padding-top: 30px;
}

 div#settings.show div#settings-list{
	display: block;
}

div#settings-list>div {
	padding: 10px;
}

div#power>div.circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}