<!doctype html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>A new take on Windows 8</title>
		<link rel="stylesheet" href="css/metro-bootstrap.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link rel="stylesheet" href="css/app.css">
		<script src="js/angular.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body ng-controller="DesktopCtrl" ng-class="{desktop: activeView=='desktop', apps: activeView=='apps', search: activeView=='search', temp: activeView=='temp'}">

	<div id="appView" ng-class="{open: appView.state=='open',double: appView.width=='double',growapp: appView.state=='grow'}" ng-style="{'left':appView.xpos+'px','top':appView.ypos+'px'}"><div ng-click="closeApp()">x</div></div>
		<div id="desktop">
			
			<h1>Desktop</h1>
			<div class="modal-cover" ng-click="toggleActive('desktop')"></div>
		</div>
		<div class="active" id="apps" ng-controller="AppListCtrl" >
			
			<h1>Apps</h1>
			<div class="scroll-apps">
				<ul class="apps search">
					<li ng-repeat="app in apps | filter:search" class="app-tile" ng-class="{double:app.width=='double', openpage:app.state=='open'}" ng-click="animateApp($event,app)">
						<div class="name">{{app.name}}</div>
					</li>
				</ul>
				<div class="store-apps search-show">
					<h3>App Store Results</h3>
				<ul>
					<li ng-repeat="app in [0,1,2,3,4]">
				  	<span>{{search.name}} {{$index+1}} app</span>
					</li>
				</ul>
				</div>
			</div>
			<div id="file-results" class="search-show">
				<h5>Your Files</h5>
				<ul>
					<li ng-repeat="file in [0,1,2,3,4,5,6]">
						<span>{{search.name}}</span>
					</li>
				</ul>
				<h5>Bing Search Results</h5>
				<ul>
					<li ng-repeat="file in [0,1,2,3,4]">
						<span>{{search.name}}</span>
					</li>
				</ul>
			</div>
			<div class="modal-cover" ng-click="toggleActive()"></div>
		</div>

		<input type="text" id="search" name="search" ng-keydown="startSearch()" placeholder="search" ng-model="search.name"/>

		<div id="settings" ng-click="toggleSettings()" ng-class="{show: showSettings=='show'}">
			<div id="settings-list">
				<div id="notifications" class="option"><i class="icon-bell icon-large"></i></div>
				<div id="sound" class="option"><i class="icon-volume-up icon-large"></i></div>
				<div id="logout" class="option"><i class="icon-lock icon-large"></i></div>
				<div id="power" class="option"><i class="icon-off icon-large"></i></div>
				<div id="help" class="option"><i class="icon-question-sign icon-large"></i></div>
			</div>
			<div id="main-settings">
				<img src="images/profile-small.png"/>
				<div clock class="option"></div>
				<div id="wifi" class="option">
					<i class="icon-signal icon-2x"></i>
				</div>
				<div id="battery" class="option">
					<div class="top"></div>
					<div class="base"></div>
				</div>
			</div>	
		</div>
		
	</body>
</html>